<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.tittle }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://www.topcv.vn/xem-cv/6a7342744fd852041735a4f67ceb94d3">My CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        			<li><a href="mailto:longdt112@gmail.com">email</a></li>
	        			<li><a href="https://github.com/tld2512">github.com/tld2512</a></li>
					<li><a href="https://www.facebook.com/tienlong.dinh">facebook</a></li>
					<li><a href="https://www.linkedin.com/in/long-dinh-83627b1a2/">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
